@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
	<img src="Images/DinoDiner-24.png" alt="Dino Diner" width="200" />
<div>
	<a asp-page="Index">Home</a>
	<a asp-page="Menu">Menu</a>
	<a asp-page="Privacy">Privacy Policy</a>
	<a asp-page="About">About Us</a>
</div> 